* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    background-color: black;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.fa-solid{
    color: white;
}

.fa-table-cells, .fa-maximize {
    font-size: .8rem;
    margin-inline: .2rem;
    background-color: #454C55;
    border-radius: 10px;
    padding: .5rem;
    margin-top: .4rem;
}

/* main */

main{
    width:90%;
    height: 1000px;
    margin-inline: auto;
    background-color: red;
}

/* footer */

footer {
    height: 4rem;
    width: 100%;
    background-color: #243D55;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.footer-center{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-right{
    justify-content: flex-end;
    margin-right: 2rem;
}

.mic, .video{
    display: flex;
    flex-direction: column;
}